@font-face {
  font-family: "Moret";
  src: url("/fonts/Moret/font.woff2") format("woff2"),
    url("/fonts/Moret/font.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("/fonts/Helvetica/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/Helvetica/Helvetica-Bold.ttf");
}

a {
  &:hover {
    text-decoration: none !important;

    &.sidebar-item,
    &.breadcrumb {
      &:hover {
        color: #fda9ff;
      }
    }
  }

  &.sidebar-item {
    &.active {
      color: #fda9ff !important;
    }
  }
}

h1,
h2 {
  font-family: Moret;
  margin-bottom: 0 !important;
}

.theme-default-content {
  padding-top: 2rem !important;

  h1 {
    margin-top: 3rem;
    padding-top: 0;

    &:first-child {
      padding-top: 0;
      margin-top: 1.5rem;
    }

    &:first-child + p {
      margin-top: revert;
    }
  }
}

.back-to-top {
  --back-to-top-color: var(--c-back-to-top-color) !important;
  --back-to-top-color-hover: #fda9ff !important;
}

.navbar {
  --navbar-line-height: normal;

  span {
    a {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }
  }

  .navbar-items-wrapper {
    align-items: center;
  }

  .logo {
    margin-right: 0.5rem !important;
  }

  .site-name {
    font-family: moret;
    font-size: 48px;
    display: inherit !important;
    margin-top: -3px;
  }

  .toggle-sidebar-button {
    left: unset;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.5s;

    &:hover {
      border-radius: 5px;
      background: var(--sidebar-hover-color);
    }
  }

  .navbar-items-wrapper {
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-button {
    a:hover {
      border-color: transparent;
    }
  }

  @media (max-width: 719px) {
    padding-left: var(--navbar-padding-h);

    .toggle-color-mode-button {
      margin-right: 2.5rem;
    }

    .site-name {
      font-size: 1.8rem;
      margin-top: -2px;
    }

    .logo {
      width: 35px;
      padding-top: 0px;
    }
  }
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}

.card {
  padding: 0.5rem;
}

.three-columns {
  justify-content: space-between;
  .card {
    width: calc((100% - 40px) / 3);
    padding: 0.5rem 0;

    &-content {
      &-title {
        margin-top: 36px;
      }

      &-text {
        margin-top: 24px;
      }
    }
  }
}

.two-columns {
  .card {
    width: 50%;

    &-content {
      margin-left: 15px;
      &-text {
        color: #62637b;
        margin-top: 5px;
      }
    }

    &:nth-child(odd) {
      padding-left: 0;
    }

    &:nth-child(even) {
      padding-right: 0px;
    }
  }
}

.gradient-text {
  width: fit-content;
  background: linear-gradient(180deg, #ddb4ff 0%, #4effe5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .card {
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    display: block;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 5px;
  background-color: var(--scrollbar-bg-color) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
}
