:root {
  // brand colors
  --c-brand: #070927;
  --c-brand-light: #4abf8a;

  // background colors
  --c-bg: #ffffff;
  --c-bg-light: #f5f7f9;
  --c-bg-lighter: #eeeeee;
  --c-bg-navbar: #fffffff0;
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;

  // text colors
  --c-text: #070927;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lighter: #4e6e8e;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #4e6e8e;
  --c-text-link: #0009ab;

  // border colors
  --c-border: #e2e3ede0;
  --c-border-dark: #dfe2e5e0;

  // custom container colors
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #e7c000;
  --c-warning-bg: #fffae3;
  --c-warning-title: #ad9000;
  --c-warning-text: #746000;
  --c-warning-text-accent: var(--c-text);
  --c-danger: #cc0000;
  --c-danger-bg: #ffe0e0;
  --c-danger-title: #990000;
  --c-danger-text: #660000;
  --c-danger-text-accent: var(--c-text);
  --c-details-bg: #eeeeee;

  // badge component colors
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: var(--c-warning);
  --c-badge-danger: var(--c-danger);

  // transition vars
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;

  // code blocks vars
  --code-bg-color: #16183C;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;

  // font vars
  --font-family: "Helvetica";

  // layout vars
  --navbar-height: 100px;
  --navbar-padding-v: 1.5rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 1300px;
  --homepage-width: 960px;

  //custom styles
  --c-mid-grey-on-navy: #a0a1ba;
  --c-dark-grey-on-navy: #464869;
  --box-shadow: 0 0 12px rgba(78, 255, 229, 0.3),
    0 4px 8px rgba(78, 255, 229, 0.2), 0 1px 0 rgba(78, 255, 229, 0.2);
  --back-to-top-z-index: 9999 !important;
  --c-back-to-top-color: #16183c;
  --scrollbar-color: var(--c-mid-grey-on-navy);
  --scrollbar-bg-color: var(--c-border);
  --sidebar-hover-color: var(--c-border);
}

html.dark {
  // brand colors
  --c-brand: #fff;
  --c-brand-light: #349469;

  // background colors
  --c-bg: #070927;
  --c-bg-light: #16183C;
  --c-bg-navbar: #070927A0;
  --c-bg-lighter: #262c34;

  // text colors
  --c-text: white;
  --c-text-light: #96a7b7;
  --c-text-lighter: #B8B8B8;
  --c-text-lightest: #8094a8;
  --c-text-link: #4EFFE5;

  // border colors
  --c-border: #46486980;
  --c-border-dark: #34404c80;

  // custom container colors
  --c-tip: #318a62;
  --c-warning: #ceab00;
  --c-warning-bg: #7e755b;
  --c-warning-title: #ceac03;
  --c-warning-text: #362e00;
  --c-danger: #940000;
  --c-danger-bg: #806161;
  --c-danger-title: #610000;
  --c-danger-text: #3a0000;
  --c-details-bg: #323843;

  // code blocks vars
  --code-hl-bg-color: #363b46;

  //custom styles
  --footer-border: 1px solid #464869;
  --c-back-to-top-color: white;
  --scrollbar-color: var(--c-dark-grey-on-navy);
  --scrollbar-bg-color: var(--c-mid-grey-on-navy);
  --sidebar-hover-color: var(--c-dark-grey-on-navy);
}

// thinner, on-brand scrollbar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.1);
  border-radius: 20px;
  border: transparent;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}